<html>
	<head></head>
	<body>
		<h1>Delete Book</h1>
		<form action="{{url_for('deleteBook', book_id=book_id)}}" method="POST">
			Are you sure you want to delete {{books[book_id-1]['title']}}?<br>
			<input type="submit" value="Delete" name = "Delete">
			<a href="/">Cancel</a>
			<br>
		</form>
	</body>
</html>