<html>
	<head></head>
	<body>
		<h1>Edit Book</h1>
		<form action= "{{url_for('editBook', book_id=book_id)}}" method="POST">
			Name:<br>
			<input type="text" name="editName">
			<input type="submit" value="Submit" name="editButton">
			<a href="/">Cancel</a>
			<br>
		</form>
	</body>
</html>