<html>
	<head></head>
	<body>
		<h1>New Book</h1>
		<form action="{{url_for('newBook')}}" method="POST">
			Name:<br>
			<input type="text" name="newBook">
			<input type="submit" value="Create">
			<a href="/">Cancel</a>
			<br>
		</form>
	</body>
</html>