<html>
	<head>
	</head>
	<body>
		<h1>Books</h1>
		{% if books == [] %}
			<p>No books exist</p>
		{% else %}
			{% for i in books %}
				<div>
					{{i.title}} {{i.id}}
					<br/>
					<a href="/book/{{ i.id}}/edit/">Edit Book</a>
					<br/>
					<a href="/book/{{ i.id}}/delete/">Delete Book</a>
					<br/><br/>
				</div>
			{% endfor %}
		{% endif %}
	</body>
</html>